@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

body {
  background: #080604;
  color: #f7efe0;
  font-family: 'Syne', sans-serif;
  overflow-x: hidden;
}
